/submodlib
/cords
/milo-base/features_cifar_check.csv
/milo-base/np.csv
/milo-base/dataframe.pkl
/milo-base/class-data*
/data
/milo-base/cifar10
/milo-base/cifar100
*.pkl
/milo-base/*pkl
/milo-base/*txt
/milo-base/time_cal
/milo-base/gpu_test
/milo-base/time_cal_cpu_final
/milo-base/time_cal_cpu
/neural-submod/data/cifar-10*
/neural-submod/data/seq_submod_subset/per*
/neural-submod/data/seq_submod_subset/*.out